@import "tailwindcss";

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
	img[loading="lazy"] {
		clip-path: inset(0.6px);
	}
}

a {
	transition: all 0.2s ease-in-out;
}

body {
	padding: 16px;
	background-color: #000;
	background-image: url("/asfalt-light.png");
}

.grid-areas {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: auto;
	grid-template-areas:
		"intro intro featured featured . ."
		"intro intro featured featured . ."
		". . . . . .";
	gap: 16px;
}

.grid-area-intro {
	grid-area: intro;
}

.grid-area-featured {
	grid-area: featured;
}

.grid-area-item {
	grid-area: auto;
}
